<h1><%= @post.title %></h1>

<h2>Comments</h2>
<div data-channel="comments">
  <%= render @post.comments %>
</div>

<h3>Add a comment </h3>
<%= form_for [@post, @post.comments.build], remote: true do |f| %>
  <div>
  <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
